<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" />
</head>
<style>
    div{
        margin-top: 250px;
        margin-left: 600px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
</style>
<body>
    <div>
        <h2><i class="layui-icon" style="font-size: 50px;color: green">&#x1005;</i>注册成功！正在等待审核...</h2>
        <br>
        <h3>审核结果将以短信结果发送至您的手机！请注意查收</h3>
    </div>
</body>
</html>